.wrapper {
    display: flex;
    justify-content: center;
    background-color: yellow;
    border: solid grey;
    border-width: 3px;
    border-radius: 25px;
    width: max-content;
    padding: 10px;
}

.input {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

input {
    border-radius: 10px;
    width: 50%;
    height: 30px;
    background-color: aqua;
}

button {
    justify-content: center;
}

button:hover {
    cursor: pointer;
}